.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
        background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
   list-style: none; 
    list-style-type: none;
        margin: 0;
        padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}
.header {
    display: flex;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #2e2f42;
        display: flex;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}
.header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 40px 0;
    display: block;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    display: flex;
    margin-left: auto;
}
.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    width: 1440px;
        height: 600px;
        display: flex;
        align-items: center;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: flex;
    text-align: center;
    color: #fff;
    margin-top: 188px;
    margin-right: 472px;
    margin-left: 472px;
    margin-bottom: 48px; 
}

.hero-btn-link {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: flex;
        border-radius: 4px;
        align-items: flex-end;
        padding: 16px 32px 16px 32px;
        margin-bottom: 188px;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    background-color: #404BBF;
}

.features {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex; 
        margin: 0 24px;
}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: flex;
        margin: 0 24px;
}

.subject {
    background-color: #F4F4FD;
    display: flex;
    margin-top: 120px;
    margin-bottom: 72px;
    text-align: center;
}

.subject-title {
    background-color: #F4F4FD;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    display: flex;
    margin-top: 120px;
    margin-bottom: 72px;
}
.subject-list {
    display: flex;
}
.subject-item {
    background-color: #FFFFFF;
    display: flex;
}

.subject-item-subtitle {
      font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
}

.subject-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
        display: flex;
}

.portfolio {
    background-color: #F4F4FD;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-item-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.headline {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
    }

    .footer {
     font-family: "Raleway", sans-serif;
       background-color: #2e2f42;
    }

.footer-logo {
             font-size: 18px;
             font-weight: 700;
             line-height: 1.17;
             letter-spacing: 0.03em;
            text-transform: uppercase;
             color: #4d5ae5;
         }

    .footer-logo-studio {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    }

    .footer-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    }

